@model List<Product>

<div class="container">
    <div class="row pt-4 pb-3">
        <!--The bootstrap class row creates a table with 12 columns. It actually divides the page in 12 columns-->
        <div class="col-6">
            <!--First div which takes the first 6 columns-->
            <h2 class="text-secondary">List of Products</h2>
        </div>
        <div class="col-6 text-end">
            <!--Second div which takes the last 6 columns. Notice that text-end class will float the text on the right-->
            <a asp-controller="Product" asp-action="CreateProduct" class="btn btn-primary"><i class="bi bi-plus-square-fill"></i> New Product!</a>
        </div>

    </div>
    <!--Here in the table there is a bootstrap class-->
    <!--The table is defined in two parts: The head (with the headers) and the body(with the rows containing the data provided from the List model)-->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>List Price</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <!--Here in the body, the C# syntax will place each element of the List inside the table rows-->
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>@obj.Author</td>
                    <td>@obj.ISBN</td>
                    <td>@obj.ListPrice</td>
                    <td></td>
                    <!--Here we set up another table definition with the button group made of Edit and Delete-->
                    <!--inside the div, w-75 will set the width of the div at 75% of his container (td) -->
                    <td>
                        <div class="w-50 btn-group" role="group">
                            <!--The div here is a button group -->
                            <!--The tag helper asp-route-id will get the Id of the category element in the row and send it in the related view-->
                            <a asp-controller="Product" asp-action="EditProduct" asp-route-id="@obj.Id" class="btn btn-warning mx-2">
                                <!--mx-2 stands for external margin right and left of 2 of 5-->
                                <i class="bi bi-pencil-fill"></i>Edit    <!--Bootstrap icon for Edit-->
                            </a>
                            <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <!--mx-2 stands for external margin right and left of 2 of 5-->
                                <i class="bi bi-trash-fill"></i>Delete    <!--Bootstrap icon for Edit-->
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>